/*表单的样式*/
.strategy_form{
	color:#000;
}
.Wdate{
	font-size:9px;
	width:150px;
}
.textinput{
	color:#000;
	width:100px;
}
.confirmbutton {
	height: 40px;
	width:100px;
	background-color: #000;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.confirmbutton:hover {
	text-decoration: none;
}
.confirmbutton:active {
	position: relative;
	top: 1px;
}
.stra_title{
	font-size:26px;
}